*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    gap: 1rem;
}

main .boton {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin-top: 1rem;
}

.footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
}